<%- include('header') -%>

<h1>Innskráning</h1>

<form method="post" action="/register">
  <div class="field">
    <label class="name">Nafn:</label>
    <input type="text" name="name" id="name" value="<%= name %>" class="">
  </div>
  <div class="field">
    <label class="email">Netfang:</label>
    <input type="text" name="email" id="email" value="<%= email %>" class="">
  </div>
  <div class="field">
    <label class="username">Notendanafn:</label>
    <input type="text" name="username" id="username" value="<%= username %>" class="">
  </div>
  <div class="field">
    <label class="password">Lykilorð:</label>
    <input type="password" name="password" id="password" value="<%= password %>" class="">
  </div>
  <div class="field">
    <label class="passwordAgain">Lykilorð, aftur:</label>
    <input type="password" name="passwordAgain" id="passwordAgain" value="<%= passwordAgain %>" class="">
  </div>

  <button>Innskrá</button>
</form>

<%- include('footer') -%>